<odoo>
    <!-- Menu -->
    <menuitem id="menu_root" name="PMS" sequence="10"/>

    <menuitem id="menu_forms" name="Forms" parent="menu_root"/>
    <menuitem id="menu_forms_amenities" name="Amenities" parent="menu_forms" action="action_amenities_forms" sequence="10"/>
    <menuitem id="menu_forms_pet_registration" name="Pets" parent="menu_forms" action="action_pet_registration_form" sequence="20"/>
    <menuitem id="menu_forms_unit_owner_info" name="Unit Owners" parent="menu_forms" action="action_unit_owner_info_forms" sequence="30"/>
    <menuitem id="menu_forms_tenant_info" name="Tenants" parent="menu_forms" action="action_tenant_info_forms" sequence="40"/>
</odoo>